
/*---------------RESPONSIVE DESIGN-------------------*/
/*- Adjustment for main header---------------------- */
@media only screen
and (max-width: 360px) 
{
h	/*---website name---*/	
	{
	font-size: 2rem;
	font-weight:800;
	}
	/*- Header image---------------------------- */

.header img
	{
	width:25px;
	top:2px;
	}

	/*- Header image---------------------------- */
}

@media only screen
and (min-width: 361px) 
and (max-width: 480px)
{
h	/*---website name---*/	
	{
	font-size: 3rem;
	font-weight:800;
	}

	/*- Header image---------------------------- */
.header img
	{
	width:25px;
	top:2px;
	}
	/*- Header image---------------------------- */
}
/*- END Adjustment for main header------------------ */

/*- Adjustment for text size------------------------ */
@media only screen
and (min-width: 320px)
and (max-width: 480px) 
{
	/*- Text size------------------------------- */
p,
li,
blockquote 
	{ text-align:justify; }

h1	{ font-size: 2.4rem; line-height:1.25; }

h2	{ font-size: 2.4rem; line-height:1.2;
	font-weight:500;
	}

h4	{ font-size: 1.6rem; line-height:1.25;
	margin-bottom:1rem;
	}

h5	{ font-size: 1.5rem;
	font-weight:600;
	}

	/*- END Text size--------------------------- */
	/*- Arrows---------------------------------- */
.fp-arrow 
	{ scale: 60%; }

	/*- END Arrows------------------------------ */
	/*- Blockquote------------------------------ */
blockquote 
	{
	margin-inline-start: 30px;
	margin-inline-end: 30px;
	}

	/*- END Blockquote-------------------------- */
	/*- Lists----------------------------------- */
ul, ol	{
	margin-block-start:0;
	padding-inline-start: 20px;
	}

	/*- END Lists------------------------------- */

}

/*- Adjustment for landscape phone margins---------- */
@media only screen
and (min-width: 500px)
and (max-width: 700px)
and (orientation: landscape)
{
.fp-overflow
	{ padding-top:20px; }

.header	{ height:60px; }

.middle { padding-top: 0; }

h1	{ font-size: 3.0rem; line-height:1.25;
	margin-bottom:0;
	}



	/*--------same as----------------------------*/
	/*-@media only screen		-*/
	/*-and (min-width: 361px) 	-*/
	/*-and (max-width: 480px)	-*/
	/*- Header --------------------------------- */
h	/*---website name---*/	
	{
	font-size: 3rem;
	font-weight:800;
	}

.header img
	{
	width:25px;
	top:2px;
	}
	/*- END Header ----------------------------- */
	/*--------END same as----------------------------*/
	/*--------same as----------------------------*/
	/*-@media only screen		-*/
	/*-and (min-width: 320px)	-*/
	/*-and (max-width: 480px) 	-*/
	/*- Text size------------------------------- */
p,
li,
blockquote 
	{ text-align:justify; }

h1	{ font-size: 2.4rem; line-height:1.25; }

h2	{ font-size: 2.4rem; line-height:1.2;
	font-weight:500;
	}

h4	{ font-size: 1.6rem; line-height:1.25;
	margin-bottom:1rem;
	}

h5	{ font-size: 1.5rem;
	font-weight:600;
	}

	/*- END Text size--------------------------- */
	/*- Arrows---------------------------------- */
.fp-arrow 
	{ scale: 60%; }

	/*- END Arrows------------------------------ */
	/*- Blockquote------------------------------ */
blockquote 
	{
	margin-inline-start: 30px;
	margin-inline-end: 30px;
	}

	/*- END Blockquote-------------------------- */
	/*--------END same as------------------------*/
}