/*---------------Color style------------------------*/
/*------https://coolors.co/palette/780000-c1121f-fdf0d5-003049-669bbc----*/
/*------
1. html and body height and width
2. required
3. link style
4. general text size adjustment
5. font style and sizes
	- font styles
	- font size
	- custom font size
		- middle >p
6. header
	- 1st page header
	- menu header
	- dropmenu
		- container
		- icon
		- list
		- contents
		- contents anim
7. sections
	- pre-container
	- container
8. watermark
9. middle
10. xxxx
11. colors

-------*/
/*---01---*/
/*---------------set html height to full page--------*/
/*---------------END set html height to full page----*/
/*---02---*/
/*---------------Req---------------------------------*/
/*---------------END Req-----------------------------*/
/*---03---*/
/*---------------Style the links---------------------*/
	/*-------Related button----------------------*/

#topicsList li a:hover
	{ 
	text-decoration:none;
	}

#topicsList a
	{
	display:block;
	width:100%;
	border-radius:5px;
	margin: 10px 0;
	padding:5px;
	text-align:center;
	border-color:black;
	border-width:1px;
	}

#slideContainer h5 a:hover
	{ color: #D80032
	} 
	

	/*-------END Related button------------------*/
/*---------------END Style the links-----------------*/
/*---04---*/
/*---------------Text size adjustment----------------*/
/*---------------END Text size adjustment------------*/
/*---05---*/
/*---------------Style fonts-------------------------*/
	/*-------Font styles-------------------------*/
	/*-------END Font styles---------------------*/
	/*-------Font size---------------------------*/
	/*-------END Font size-----------------------*/
	/*-------Custom Font size--------------------*/
#subheader
	{
	margin-bottom:0;
	font-weight:bold;
	}

#topicsList li
	{
	font-size: 1.4rem;
	line-height: 1.5;
	font-weight: 350;
	}

h1	{font-weight:400;}
h2, h3, h4, h5, h6
	{font-weight:bold;}

#slideContainer p,
ul,
ol
	{
	font-size: 1.4rem;
	font-weight:350;
	}

#slideContainer ul
	{
	list-style:square;
	}

#slideContainer #dialog
	{
	list-style:none;
	}

#slideContainer li
	{
	padding:5px 0;
	line-height:1.6;
	}

#slideContainer ul li::marker 
	{
    	font-size: 1rem;
	}

	/*-------END Custom Font size----------------*/
/*---------------END Style fonts---------------------*/
/*---06---*/
/*---------------Style header------------------------*/
	/*-------main page 1st page header-----------*/
	/*-------END main page 1st page header-------*/
	/*-------standard menu header----------------*/
	/*-------END standard menu header------------*/
	/*-------drop down menu----------------------*/
		/*-------menu container--------------*/
#pageLink
	{
	display:flex;
	flex-direction:row;
	align-items:center;
	}

#pageLink .material-symbols-outlined
	{
	font-size:2rem;
	margin-bottom:1.5rem;
	margin-right:5px;
	}
		/*-------END menu container----------*/
		/*-------menu icon-------------------*/
		/*-------END menu icon---------------*/
		/*-------menu list-------------------*/
		/*-------menu list-------------------*/
		/*-------menu contents---------------*/
			/*----related contents-------*/
/*-------------*/
			/*----END related contents---*/
		/*-------END menu contents-----------*/
		/*-------menu contents anim----------*/
		/*-------menu contents anim----------*/
	/*-------END drop down menu------------------*/

/*---------------END Style header--------------------*/
/*---07---*/
/*---------------Style Sections----------------------*/
	/*-------Style preContainer------------------*/
	/*-------END Style preContainer--------------*/
	/*-------Style container---------------------*/
#topicsList
	{
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	margin:0;
	padding:10px 0 0 0;
	}

#topicsList li 
	{ width:48%; }

#topicsList #liFull
	{ width:-webkit-fill-available; }

#slideContainer
	{
	height:unset;
	padding:0 60px;
	}

.fp-overflow
	{
	padding-top:40px;
	align-items:unset;
	}

.fp-overflow
	{ cursor:default; }

	/*-------END Style container-----------------*/
/*---------------END Style Sections------------------*/
/*---08---*/
/*---------------Style watermark---------------------*/
/*---------------END Style watermark-----------------*/
/*---09---*/
/*---------------Style middle------------------------*/
/*---------------END Style middle--------------------*/
/*---10---*/
/*---------------Style table-------------------------*/
/*---------------Style table-------------------------*/
/*---11---*/
/*---------------Style colors------------------------*/
	/*-------Style colors web site name + text---*/
	/*-------END Style colors website name-------*/
h, .middle >p
	{color:#780000}
	/*-------page colors-main page---------------*/
#section0	{ background-color:#669BBC;} /*--main--*/
#section1,
#section2,
#section3,
#section4,
#section5
	{ background-color:silver;}


	/*-------END page colors-main page-----------*/
	/*-------link-Topics-------------------------*/
#topicsList a
	{
	background-color:#003049;
	color:WHite;
	}

#topicsList a:hover
	{
	background-color:#780000;
	font-weight:bold;
	}

	/*-------END link-Topics---------------------*/
	/*-------drop down menu----------------------*/
	/*-------END drop down menu------------------*/
/*---------------END Style colors--------------------*/
/*---12---*/


/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------------------------------------------*/
/*---------------RESPONSIVE DESIGN-------------------*/


/* iphone14 portrait ------------------------------ */
@media only screen
and (min-width: 320px) 
and (max-width: 528px) 
and (orientation : portrait), 
@media only screen
and (min-width: 320px) 
and (max-width: 532px) 
and (orientation : portrait)
{
#imgContainer
	{
	padding:20px 0;
	min-width:210px;
	max-width:210px;
	margin:0;
	}
}

/* iphone14 landscape ------------------------------ */
@media only screen
and (min-width: 216px) 
and (max-width: 615px) 
and (orientation : landscape),
{

}


/* iphone14 landscape -edge browser----------------- */
@media only screen
and (min-width: 248px) 
and (max-width: 693px) 
and (orientation : landscape)
{

}

