@font-face
	{
	font-family: 'Roboto_Mono';
	src: local('Roboto_Mono'), url('../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
	}


@font-face
	{
	font-family: 'Segoe_UI_Symbols';
	src: local('Segoe_UI_Symbols'), url('../assets/fonts/Segoe_UI_Symbols/Segoe UI Symbol.ttf') format('truetype');
	}

html	{
	font-family: 'Segoe_UI_Symbols', sans-serif;
	}

body 
	{
	display: flex;
	justify-content:center;
	background: #f4f4f4;
	}

.container
	{
	display:flex;
	flex-direction:row;
	width:90vw;
	height:90vh;
	justify-content:center;
	}

#board 
	{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 1px black solid;
	aspect-ratio: 1 / 1; /* ensures square board */
	height:90vh;
	width:90vh;
	}

.square 
	{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	cursor: pointer;
	}

.light 
	{ background: #eee; }

.dark 
	{ background: #666; color: white; }

#moves 
	{
	width: 250px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	height: auto;
	overflow-y: auto;

	margin-left:10px;
	}

#moves h2 
	{ margin-top: 0; }


#controls 
	{
	margin-top: 10px; 
	}

button 
	{
	margin: 4px 0;
	padding: 6px 10px;
	cursor: pointer;
	width:100%;
	}

.square.selected 
	{
	outline: 3px solid red;
	z-index:5;
	}


/*---mobile - portrait, -------------------*/
@media only screen and (orientation:portrait)
{
body
	{

	}

.container
	{
	flex-direction:column;
/*--	
	justify-content:unset;
	height:80vw;
--*/
	width:90vw;
	margin-top:10px;
	}

#moves 
	{
	width: auto;
	margin-top:10px;
	margin-left:0;
	}

#board 
	{
	height:90vw;
	width:unset;
	}

.square
	{
	font-size:6vw;
	}
}


/*---mobile - landscape, ------------------*/
@media only screen and (orientation:landscape)
{
.container
	{
	flex-direction:row;
	}

.square
	{
	font-size:6vh;
	}

#moves 
	{
	min-width: 130px;

	}

}
