@font-face
	{
	font-family: 'Roboto_Mono';
	src: local('Roboto_Mono'), url('../assets/fonts/Roboto_Mono/RobotoMono-VariableFont_wght.ttf') format('truetype');
	}

@font-face
	{
	font-family: 'Dejavu_sans_mono';
	src: local('Dejavu_sans_mono'), url('../assets/fonts/Dejavu_sans_mono/DejaVuSansMono.ttf') format('truetype');
	}

@font-face
	{
	font-family: 'Segoe_UI_Symbols';
	src: local('Segoe_UI_Symbols'), url('../assets/fonts/Segoe_UI_Symbols/Segoe UI Symbol.ttf') format('truetype');
	}

html	{
	font-family: 'Segoe_UI_Symbols', sans-serif;
	}

body 
	{
	display: flex;
	justify-content:center;
	background: #f4f4f4;
	}

.container
	{
	display:flex;
	flex-direction:row;
	width:90vw;
	height:90vh;
	justify-content:center;
	}

#board 
	{
	display: grid;
	grid-template-columns: repeat(8, 1fr);
	grid-template-rows: repeat(8, 1fr);
	border: 1px black solid;
	aspect-ratio: 1 / 1; /* ensures square board */
	height:90vh;
	width:90vh;
	}

.square 
	{
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 3vh;
	cursor: pointer;
	}

.light 
	{ background: #eee; }

.dark 
	{ background: #666; color: white; }


#moves 
	{
	width: 250px;
	background: white;
	border: 1px solid #ccc;
	padding: 10px;
	border-radius: 8px;
	height: auto;
	overflow-y: auto;

	margin-left:10px;
	}

#moves h2 
	{
	/*--margin-top: 0;--*/
	margin:0;
	}

#moves ss
	{
	font-size:0.65em;
	}

#controls 
	{
	/*--margin: 10px; --*/
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	align-items:center;
	width:100%;
	}

#roomControls
	{
	display:flex;
	flex-direction:column;
	width:100%;
	}

#topControl, #botControl
	{
	width:100%;
	display:flex;
	justify-content:space-between;
	}


#topControl select
	{
	width:45%;
	padding:5px 0;
	align-items:center;
	text-align:center;
	}

button 
	{
	margin: 4px 2px;
	/*--padding: 6px 10px;--*/
	padding: 6px 0;
	cursor: pointer;
	width:30px;
	flex:1;
	aspect-ratio:1;
	}

#botControl button
	{
	width:45%;
	margin:10px 0;
	flex:unset;
	aspect-ratio:unset;
	}

.square.selected 
	{
	outline: 3px solid red;
	z-index:5;
	}

/*----------------------*/
#status 
	{
	font-size: 1.5em;
	font-weight: bold;
	margin-top: 10px;
	text-align: center;
	}

#status.check 
	{
	color: orange;   /* 🔶 Check */
	}

#status.checkmate 
	{
	color: red;      /* 🔴 Checkmate */
	}

#status.stalemate
	{
	color: gray;     /* ⚪ Stalemate */
	}

.king-in-check {
  text-shadow:
    -2px -2px 0 red,
     2px -2px 0 red,
    -2px  2px 0 red,
     2px  2px 0 red;

  animation: pulse 1s infinite;
}

@keyframes pulse {
  0%   { transform: scale(1.0)}
  50%  { transform: scale(1.1)}
  100% { transform: scale(1.0)}
}


.king-in-checkmate {
background-color:red;
border-radius: 1%;
 animation: pulse2 0.5s infinite;
}

@keyframes pulse2 {
  0%   { transform: scale(1.0)}
  50%  { transform: scale(1.2)}
  100% { transform: scale(1.0)}
}





/*----------------------*/



/*---mobile - portrait, -------------------*/
@media only screen and (orientation:portrait)
{
body
	{

	}

.container
	{
	flex-direction:column;
/*--	
	justify-content:unset;
	height:80vw;
--*/
	width:90vw;
	margin-top:10px;
	}

#moves 
	{
	width: auto;
	margin-top:10px;
	margin-left:0;
	}

#board 
	{
	height:90vw;
	width:unset;
	}

.square
	{
	font-size:6vw;
	}
}


/*---mobile - landscape, ------------------*/
@media only screen and (orientation:landscape)
{
.container
	{
	flex-direction:row;
	}

.square
	{
	font-size:6vh;
	}

#moves 
	{
	min-width: 130px;

	}

}

